src/main/mule/customvalidation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="822505ce-d33d-4142-98ff-223ebb284e57" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="customvalidationFlow" doc:id="996b0381-472c-4369-88aa-c71e56fb8f60" >
		<http:listener doc:name="Listener" doc:id="597f5e0e-57b2-44a9-ba01-692a06f316c9" config-ref="HTTP_Listener_config" path="/validate"/>
		<java:invoke-static method="validate(java.lang.String,java.lang.String,java.lang.String)" doc:name="Invoke static" doc:id="a634cf06-1005-4e24-bcf4-6c0346908303" class="Implementations.ValidationServiceImpl">
			<java:args ><![CDATA[#[{key1 :payload.key1,key2: payload.key2, key3:payload.key3}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Transform Message" doc:id="68b433e2-8ac5-41ac-b6d5-08acf197fcc4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload pluck(message,property,index) -> {(index) :{(property) :message}}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="18c30847-20e8-4731-b7af-3d80c6e5b208" message="#[payload]"/>
	</flow>
</mule>
